@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CCMaladroit W00 Bold";
  src: url("font/font.eot");
  src: url("font/font.eot?#iefix") format("embedded-opentype"),
    url("font/font.woff") format("woff"), url("font/font.woff2") format("woff2"),
    url("font/font.ttf") format("truetype"),
    url("font/font.svg#CCMaladroit W00 Bold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    user-select: none;
    font-family: "CCMaladroit W00 Bold";
  }

  body {
    background-color: #87ceeb;
  }

  .img-hor {
    transform: rotateY(180deg);
  }
}
